body{
    display: flex;
    justify-content: center;
    
}
.header
{
    background-color: #59BFB3;
    display: flex;
    margin-top: -15px;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    
    
}

#name-do-site{
    font-size: 20px;
}
.item-menu{
    display: inline;
    margin-left: 15px;
}

.header a{
    text-decoration: none;
    color: #B373B3;
}

.header li{
    list-style: none;
}

.description{
    background-color: #9ECBCB;
    width: 100%;
    display: block;
    margin-top: 45px;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.description p{
    font-size: 27px;
}

.destaque{
    background-color: #EBF6EE;
    display: flex;
    margin-top: 170px;
    width: 100%;
    position: absolute;
    justify-content: space-between;
}

.destaque li{
    list-style: none;
}

.destaque .destaque-img {
    width: 201px;
    height: 264px;
    left: 801px;
    top: 313px;
}

.item-destaque
{
    display: inline;
    margin-left: 2px;
}
    
